body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    color: #ece8e8;
    text-align: center;
}

header {
    background: #ffe082;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}
#home {
    background: #ffe082;
    color: #222;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    font-size: 1.2rem;
}

/* Different background for each section */
#about {
    background: #f7cac9;
    color: #222;
        min-height: 50vh; /* 50% of the viewport height */

}

#projects {
    background: #92a8d1;
    color: #222;
    min-height: 50vh; /* 50% of the viewport height */
}

#contact {
    background: #b5ead7;
    color: #222;
    min-height: 30vh; /* 30% of the viewport height */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}
/*smooth scrolling */
html {
    scroll-behavior: smooth;
}
